<!--<app-diretiva-ngif></app-diretiva-ngif>

<app-diretiva-ng-for></app-diretiva-ng-for>

<app-diretiva-ngclass></app-diretiva-ngclass>

<app-diretiva-ngstyle></app-diretiva-ngstyle>

<app-diretiva-ngcontent>
    Conteúdo passado para o componente
</app-diretiva-ngcontent>

<app-diretiva-ngcontent>
    <div class="titulo">Titulo do Painel</div>
    <div class="corpo">
           Corpor do conteúdo
    </div>   
    </app-diretiva-ngcontent>

<app-diretivas-customizadas></app-diretivas-customizadas>

-->

<app-criar-cursos></app-criar-cursos>
<br>
<br>
<app-cursos></app-cursos>
